.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.intro {
  display: block;
  background-size: 100%;
  height: 100%;
  width: 100%px;
  padding-top: 0px;
  padding-bottom: 20px;
  background: url("./assets/images/background-5.png") no-repeat 0 0 fixed;
  /* border-top: 29px solid transparent; */
  background-size: 100%;
  background-size: cover;
  /* background: url("./assets/images/background-5.png") no-repeat center center
    fixed; */
  /* background:  */

  /* linear-gradient(purple 0%, red 90%), */
  /* linear-gradient(to right, purple 0%, yellow 90%), */
  /* url("./assets/images/background-5.png") */
  /* 30px, */
  /* url("./assets/images/background-5.png") 20px; */
  /* background-blend-mode: screen, difference, lighten; */
  /* -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */
  /* color: white;
  height: 300px; */
  /* background-color: #d4f5ea; */
  /* background-color: #bfe4fa; */
  /* margin: 0; */
  /* padding: 0; */
  /* opacity: 0.5; */
}

.header-title {
  font-size: 5rem;
  font-weight: bolder;
  opacity: 1;
  color: rgb(255, 255, 255);
}

.header-description {
  font-size: 2.25rem;
  font-weight: bold;
  text-align: center;
  margin: 0;
  color: white;
  opacity: 1;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
